
.index{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.index-size{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 20%;
    
}
.block{
    width: 100%;
    height: 5px;
 

}
.block2{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 5px;
    
}



a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

button{
    margin-top: 100%;
    padding: 15px;
    border: none;
    background-color: rgb(129, 236, 68);
    color:rgb(255, 255, 255);
    border-radius: 15px;
}